/* assigning animations to the image that can be changed by the charts.js */
#nSun {
    position: static;
    animation: rotate 0s linear infinite;
}

#dSun {
    position: static;
    animation: rotate 0s linear infinite;
}

#rSun {
    position: static;
    animation: rotate 0s linear infinite;
}

/* defining animations that make images spin */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}