

#nSun {
    position: static;
    animation: rotate 0s linear infinite;
}

#dSun {
    position: static;
    animation: rotate 0s linear infinite;
}

#rSun {
    position: static;
    animation: rotate 0s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}