body {
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #001a19;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    height: 450px; 
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 75px;
    background-color: #02c5c1;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 600px;
    background-color: #006362;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #02c5c1;
    height: 200px;
    width: 300px;
    color: #6d470b;
    font-weight: bold;
}

.option-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #02c5c1;
    height: 150px;
    width: 300px;
    color: #fdb030;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 950px;
    height: 75px;
    font-size: xx-large;
    color: #fdb030;
}

.option-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 110px;
    background-color: #006362;
    color: #fdb030;
}

.canvas {
    background-color: #006362;
    height: 150px;
    width: 300px;
}

.locations-background {
    background-color: #006362;
    width: 300px;
}

#main-div {
    width: 950px;
    height: 600px;
    display: flex;
    align-items: start;
}

#left-panel {
    height: 450px;
    width: 300px;
    border-color: #02c5c1;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 66px;
    margin-right: 33px;
}

#right-panel {
    height: 450px;
    width: 300px;
    background-color: #02c5c1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 33px;
    margin-right: 66px;

}

/* 
@keyframes leafmovement {
    0% {
        transform: translate(-100px, 0) rotate(0);
    }

    20% {
        transform: translate(15vw, 10vh) rotate(85deg);
    }

    65% {
        transform: translate(55vw, 12vh) rotate(550deg);
    }

    80% {
        transform: translate(70vw, 17vh) rotate(740deg);
    }

    100% {
        transform: translate(100vw, 25vh) rotate(920deg);
    }
} */